@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0000;
  --primary: #dbf52f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-space_grotesk: var(--font-space_grotesk);
  --bg-pattern: var(--bg-grid);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space_grotesk), Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-grid {
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1200%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23ffffff91%22 stroke-width=%22.4%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h200v200H0zM200 0h200v200H200zM400 0h200v200H400zM600 0h200v200H600zM800 0h200v200H800zM1000 0h200v200h-200zM1200 0h200v200h-200zM1400 0h200v200h-200zM1600 0h200v200h-200zM1800 0h200v200h-200zM0 200h200v200H0zM200 200h200v200H200zM400 200h200v200H400zM600 200h200v200H600zM800 200h200v200H800zM1000 200h200v200h-200zM1200 200h200v200h-200zM1400 200h200v200h-200zM1600 200h200v200h-200zM1800 200h200v200h-200zM0 400h200v200H0zM200 400h200v200H200zM400 400h200v200H400zM600 400h200v200H600zM800 400h200v200H800zM1000 400h200v200h-200zM1200 400h200v200h-200zM1400 400h200v200h-200zM1600 400h200v200h-200zM1800 400h200v200h-200zM0 600h200v200H0zM200 600h200v200H200zM400 600h200v200H400zM600 600h200v200H600zM800 600h200v200H800zM1000 600h200v200h-200zM1200 600h200v200h-200zM1400 600h200v200h-200zM1600 600h200v200h-200zM1800 600h200v200h-200zM0 800h200v200H0zM200 800h200v200H200zM400 800h200v200H400zM600 800h200v200H600zM800 800h200v200H800zM1000 800h200v200h-200zM1200 800h200v200h-200zM1400 800h200v200h-200zM1600 800h200v200h-200zM1800 800h200v200h-200zM0 1000h200v200H0zM200 1000h200v200H200zM400 1000h200v200H400zM600 1000h200v200H600zM800 1000h200v200H800zM1000 1000h200v200h-200zM1200 1000h200v200h-200zM1400 1000h200v200h-200zM1600 1000h200v200h-200zM1800 1000h200v200h-200zM0 1200h200v200H0zM200 1200h200v200H200zM400 1200h200v200H400zM600 1200h200v200H600zM800 1200h200v200H800zM1000 1200h200v200h-200zM1200 1200h200v200h-200zM1400 1200h200v200h-200zM1600 1200h200v200h-200zM1800 1200h200v200h-200z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.magic-line {
  background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath  d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 700h0c111.929 44.189 223.858 88.378 340 64s236.499-117.323 350-175c113.501-57.677 220.148-80.088 318-76 97.852 4.088 186.909 34.673 305 103 118.091 68.327 265.217 174.396 396 196 130.783 21.604 245.224-41.256 291-74 45.776-32.744 22.888-35.372 40-38%22 fill=%22none%22 stroke=%22%23e2f658%22 stroke-width=%2220%22 stroke-linecap=%22round%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;

  background-position: 100% 30%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.6;
  animation: moveDot 10s infinite alternate ease-in-out;
}

/* Generate random sizes, positions, and animation delays using nth-child */
.dot:nth-child(1) {
  top: 50%;
  left: 30%;
  width: 12px;
  height: 12px;

  animation-duration: 12s;
  animation-delay: 0s;
}
.dot:nth-child(2) {
  top: 60%;
  left: 50%;
  width: 8px;
  height: 8px;

  animation-duration: 9s;
  animation-delay: 1s;
}
.dot:nth-child(3) {
  top: 50%;
  left: 80%;
  width: 15px;
  height: 15px;

  animation-duration: 11s;
  animation-delay: 2s;
}
.dot:nth-child(4) {
  top: 70%;
  left: 10%;
  width: 6px;
  height: 6px;

  animation-duration: 10s;
  animation-delay: 3s;
}
.dot:nth-child(5) {
  top: 40%;
  left: 60%;
  width: 20px;
  height: 20px;

  animation-duration: 14s;
  animation-delay: 4s;
}
.dot:nth-child(6) {
  top: 30%;
  left: 20%;
  width: 18px;
  height: 18px;

  animation-duration: 13s;
  animation-delay: 5s;
}
.dot:nth-child(7) {
  top: 50%;
  left: 40%;
  width: 14px;
  height: 14px;

  animation-duration: 15s;
  animation-delay: 6s;
}

/* Keyframe for movement */
@keyframes moveDot {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-50px, 60px) scale(1.2);
  }
  100% {
    transform: translate(80px, -40px) scale(0.8);
  }
}
