nav {
    height: 70px;
    position: relative;
}

nav .nav-container {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

.menu-icon {
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
}

.nav-elements {
    position: absolute;
    right: 0;
    top: 70px;
    width: 0;
    height: calc(100vh - 70px);
    transition: all 0.3s ease-in-out;

}

.nav-elements.active {
    width: 200px;
    background-color: var(--primary-color);

} 

.nav-elements ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 2em;
}

.nav-elements ul li {
    margin-right: unset;
    padding: 1.5em 0;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.nav-elements ul li a {
    text-decoration: none;
    color: var(--seconday-color);
}
